﻿@model ConestogaVirtualGameStore.Web.Models.ProfileViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details of @Session["userName"]</h2>

<div>
    @*<h4>Profile</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Person.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.Gender)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BillingAddress.Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillingAddress.Street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillingAddress.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillingAddress.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillingAddress.Province)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillingAddress.Province)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillingAddress.PostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillingAddress.PostalCode)
        </dd>
    </dl>
</div>
@*<p style="font-weight:bold;">
*@<p >
    @Html.ActionLink("Edit", "Edit", new { id = Model.Person.PersonId }) |
    @Html.ActionLink("Return", "Index", "Game")
</p>
