﻿@model ConestogaVirtualGameStore.Web.Models.ProfileViewModel

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm("Edit","Person",FormMethod.Post))
{
    <h2>Edit Profile</h2>


    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @*<h4>Person</h4>*@
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Person.PersonId)
        @*@Html.HiddenFor(model => model.Account.AccountId)
        @Html.HiddenFor(model => model.Account.PersonId)*@
        @*@Html.HiddenFor(model => model.Account.AccountState)
        @Html.HiddenFor(model => model.Account.Attempts)
        @Html.HiddenFor(model => model.Account.CreatedOn)
        @Html.HiddenFor(model => model.Account.Password)
        @Html.HiddenFor(model => model.Account.Person)
        @Html.HiddenFor(model => model.Account.Preferences)
        @Html.HiddenFor(model => model.Account.UserName)*@
        @Html.HiddenFor(model => model.BillingAddress.AddressId)
        @Html.HiddenFor(model => model.BillingAddress.PersonId)
        @Html.HiddenFor(model => model.BillingAddress.AddressType)


        <div class="form-group">
            @Html.LabelFor(model => model.Person.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Person.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Person.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Person.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Person.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Person.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Person.DateOfBirth, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Person.DateOfBirth, new { htmlAttributes = new { @class = "form-control datepicker", @placeholder= "mm/dd/yy" } })
                @Html.ValidationMessageFor(model => model.Person.DateOfBirth, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Person.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Person.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Person.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Person.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Person.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Person.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Person.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Person.Gender, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Person.Gender, "", new { @class = "text-danger" })
            </div>
        </div>
        <h3>Billing Address</h3>

        <div class="form-group">
            @Html.LabelFor(model => model.BillingAddress.Street, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BillingAddress.Street, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BillingAddress.Street, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BillingAddress.PostalCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BillingAddress.PostalCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BillingAddress.PostalCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BillingAddress.Province, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BillingAddress.Province, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BillingAddress.Province, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BillingAddress.City, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BillingAddress.City, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BillingAddress.City, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BillingAddress.Country, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BillingAddress.Country, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BillingAddress.Country, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UseSameAddress, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UseSameAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UseSameAddress, "", new { @class = "text-danger" })
            </div>
        </div>

        <hr />

        @*@if(model => model.UseSameAddress)*@
        @Html.Partial("_ShippingAddress")

        @*<div class="form-group">
            @Html.LabelFor(model => model.Account.ReceivePromotionalEmail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Account.ReceivePromotionalEmail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Account.ReceivePromotionalEmail, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div style="font-weight:bold;">
    @Html.ActionLink("Return", "Details", "Person")
</div>
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        <script src="~/Scripts/jquery-ui.js"></script>
        <script src="~/Scripts/custom.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $(".datepicker").datepicker({
                    dateFormat: "mm/dd/yy",
                    changeMonth: true,
                    changeYear: true,
                    maxDate: "+0M +0D"
                });

            if ($('input[name$="UseSameAddress"]').prop("checked") == true) {
                $('#shipAddressForm').hide();
            }
                else if ($('input[name$="UseSameAddress"]').prop("checked") == false)) {
                $('#shipAddressForm').show();
            }
            
            $('#UseSameAddress').click(function () {
                if ($(this).prop("checked") == true) {
                    $('#shipAddressForm').hide();
                }
                else if ($(this).prop("checked") == false) {
                    $('#shipAddressForm').show();
                }
                //$('#shipAddressForm').toggle((this).prop("checked"));
            });
            });
        </script>
    }
