﻿@model ConestogaVirtualGameStore.Framework.Entities.Review

@{
    ViewBag.Title = "Add Review";
}
<link href="~/Content/rating.css" rel="stylesheet" />
<h2>Write Review for @TempData["gameName"]</h2>

@using (Html.BeginForm("CreateReview", "Game", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <input type="hidden" value="@TempData["gameId"]" id="gameId" name="gameId" />

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label class="control-label col-md-2">Comments</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Details, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Details, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ratings, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <span class="star-cb-group">
                    @Html.RadioButtonFor(model => model.Ratings, "5", new { id = "rating-5" })<label for="rating-5">5</label>
                    @Html.RadioButtonFor(model => model.Ratings, "4", new { id = "rating-4" })<label for="rating-4">4</label>
                    @Html.RadioButtonFor(model => model.Ratings, "3", new { id = "rating-3" })<label for="rating-3">3</label>
                    @Html.RadioButtonFor(model => model.Ratings, "2", new { id = "rating-2" })<label for="rating-2">2</label>
                    @Html.RadioButtonFor(model => model.Ratings, "1", new { id = "rating-1" })<label for="rating-1">1</label>
                    @Html.RadioButtonFor(model => model.Ratings, "0", new { id = "rating-0", @class = "star-cb-clear" })<label for="rating-0">0</label>
                </span>
                @Html.ValidationMessageFor(model => model.Ratings, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add Review" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
