﻿@model ConestogaVirtualGameStore.Framework.Entities.Game

@{
    var reviewList = ViewData["reviews"] as List<ConestogaVirtualGameStore.Framework.Entities.Review>;
    ViewBag.Title = "Details";
    var selectedQuantity = @TempData["selectedQuantity"];
    if (selectedQuantity == null) selectedQuantity = 0;
    string gameName = @Model.Name;
    int gameId = @Model.GameId;

}
@if (TempData["reviewMessage"] != null)
{
    <script>alert('@TempData["reviewMessage"]');</script>
}
<style type="text/css">
    span.fa.fa-star.checked {
        color: orange;
    }
</style>
<script type="text/javascript">
    function checkAmount() {
        var options = document.getElementsByName('option');
        var option;
        for (i = 0; i < options.length; i++) {
            if (options[i].checked)
                option = options[i].value;
        }

        var stringEnteredQuantity = document.getElementById('quantity').value;
        var enteredQuantity = parseInt(stringEnteredQuantity);
        if (option == 'Physical') {


            var dbQuantity = @Model.Quantity;
            if (@selectedQuantity )
                var updatedQuantity = enteredQuantity + @selectedQuantity;
            var availableQuantity = dbQuantity - @selectedQuantity;

            if (@selectedQuantity != 0) {
                if (updatedQuantity > dbQuantity) {
                    alert("You already selected " + @selectedQuantity + ". Available stock is " + availableQuantity);
                    return false;
                }
            }
            else if (enteredQuantity > dbQuantity) {
                alert("The stock is not enough. Available stock is " + dbQuantity);
                return false;
            }
        }
        else {
            if (enteredQuantity > 1) {
                alert("For Digital, you can't select the quantity except 1");
                return false;
            }
        }

        return true;
    }
</script>

@if (TempData["messageForDigital"] != null)
{
    <script>alert('@TempData["messageForDigital"]');</script>
}

<h2>Details of Game @TempData["gameName"]</h2>

@using (Html.BeginForm("AddItem", "Cart", FormMethod.Post, new { onsubmit = "return checkAmount()" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.GameId)
    <input type="hidden" value="@Session["accountId"]" id="accountId" name="accountId" />
    <table class="table" style="width:50%">
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <td>
                @Html.DisplayFor(model => model.Description)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <td>
                @Html.DisplayFor(model => model.Price)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <td>
                @Html.DisplayFor(model => model.ReleaseDate)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Supplier)
            </th>
            <td>
                @Html.DisplayFor(model => model.Supplier)
            </td>
        </tr>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GameCategory.CategoryName)
            </th>
            <td>
                @Html.DisplayFor(model => model.GameCategory.CategoryName)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GamePlatform)
            </th>
            <td>
                @Html.DisplayFor(model => model.GamePlatform.Name)
            </td>
        </tr>
        <tr>
            <th>
                @Html.Label("Option")
            </th>
            <td>
                <div class="col-md-10">
                    <input type="radio" name="option" value="Physical" checked="checked" />&nbsp;Physical &nbsp;&nbsp;
                    <input type="radio" name="option" value="Digital" />&nbsp;Digital
                </div>
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <td>
                <input type="number" id="quantity" name="quantity" min="1" max="10" value="1" />
                @*@Html.DropDownListFor(model => model.Quantity, Enumerable.Range(1, dropRangeMax).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }))*@
                &nbsp;<input type="submit" value="Add To Cart" class="btn btn-default" />
            </td>
        </tr>

    </table>
}
@if (User.Identity.IsAuthenticated)
{
    <input type="button" value="Add Review" class="btn btn-default" onclick="location.href='@Url.Action("CreateReview", "Game", new { gameName = gameName, gameId = gameId})'" />
}

<h2>Reviews (@reviewList.Count)</h2>

<table class="table">
    @if (reviewList.Count == 0)
    {
        <h4>No reviews</h4>
    }
    else
    {
        <tr>
            <td>@Html.Label("Ratings")</td>
            <td>@Html.Label("Comments")</td>
        </tr>
        foreach (var item in reviewList)
        {
            <tr>
                <td>
                    @for (int i = 0; i < item.Ratings; i++)
                    {
                        <span class="fa fa-star checked"></span>
                    }
                    @for (int i = item.Ratings; i < 5; i++)
                    {
                        <span class="fa fa-star"></span>
                    } @Html.DisplayFor(modelItem => item.Ratings) stars
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Details)
                </td>

            </tr>
        }
    }
</table>

<h2>Overall Ratings</h2>
@if (TempData["averageRating"] == null)
{
    <p>No Ratings</p>
}
else if (TempData["averageRating"].ToString() == "0")
{
    <div style="font-size:20px;">
        <span class="fa fa-star"></span>
        <p style="display:inline;">0 stars</p>
    </div>
}
else
{
    <div style="font-size: 20px;">
        <span class="fa fa-star checked"></span>
        <p style="display:inline;">@TempData["averageRating"] stars</p>
    </div>
}
<br />
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
