﻿@model IEnumerable<ConestogaVirtualGameStore.Framework.Entities.Game>
@{
    var accountId = Session["accountId"];
    if (accountId == null)
    {
        accountId = 0;
    }
}
@if (TempData["WishlistMessage"] != null)
{
    <script>alert('@TempData["WishlistMessage"]');</script>
}
<script type="text/javascript">
    function checkLogin() {
        if (@accountId == 0) {
            alert("Need to login to add the game to Wishlist");
            return false;
        }

        return true;
    }
</script>

<h2>Search Result for '@ViewBag.keyword' on Game Name</h2>

<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Supplier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GamePlatform)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameCategory.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GamePlatform.Name)
            </td>
            <td>
                @*@using (Html.BeginForm("AddToWishlist", "Wishlist", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()

                                <input type="hidden" id="gameId" name="gameId" value=@item.GameId />
                    //            <button onclick="return checkLogin()" class="btn btn-default" >@Html.ActionLink("Add To Wishlist", "AddToWishlist", "Wishlist", new { gameId = @item.GameId, accountId = Session["accountId"] })</button>
                                <input type="button" value="Add To Wishlist" onclick="return checkLogin()" />
                             }*@
                <button onclick="return checkLogin()">@Html.ActionLink("Add To Wishlist", "AddToWishlist", "Wishlist", new { gameId = @item.GameId, accountId = Session["accountId"], keyword = ViewBag.keyword }, null)</button>
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
