﻿@model IEnumerable<ConestogaVirtualGameStore.Framework.Entities.Game>

@{
    ViewBag.Title = "Game List";
}

@{
    var accountId = Session["accountId"];
    if (accountId == null)
    {
        accountId = 0;
    }
    if (TempData["WishlistMessage"] != null)
    {
        <script>alert('@TempData["WishlistMessage"]');</script>
    }
}
<script type="text/javascript">
    function checkLogin() {
        if (@accountId == 0) {
            alert("Need to login to add the game to Wishlist");
            return false;
        }

        return true;
    }
</script>
<h2>Game List</h2>

<fieldset>
    @using (Html.BeginForm("SearchGame", "Game", FormMethod.Post))
    {
        <p>
            @Html.AntiForgeryToken()
            Keyword :
            <input type="text" name="keyword" required value="@ViewBag.Keyword" />
            <input type="submit" value="Search" />
        </p>
    }
</fieldset>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Supplier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GamePlatform)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="@Url.Action("Details", "Game", new { Id=item.GameId})">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td>
                <a href="@Url.Action("Details", "Game", new { Id=item.GameId})">@Html.DisplayFor(modelItem => item.Description)</a>
            </td>
            <td>
                <a href="@Url.Action("Details", "Game", new { Id=item.GameId})">@Html.DisplayFor(modelItem => item.Price)</a>
            </td>
            <td>
                <a href="@Url.Action("Details", "Game", new { Id=item.GameId})">@Html.DisplayFor(modelItem => item.ReleaseDate)</a>
            </td>
            <td>
                <a href="@Url.Action("Details", "Game", new { Id=item.GameId})">@Html.DisplayFor(modelItem => item.Supplier)</a>
            </td>
            <td>
                <a href="@Url.Action("Details", "Game", new { Id=item.GameId})">@Html.DisplayFor(modelItem => item.Quantity)</a>
            </td>
            <td>
                <a href="@Url.Action("Details", "Game", new { Id=item.GameId})">@Html.DisplayFor(modelItem => item.GameCategory.CategoryName)</a>
            </td>
            <td>
                <a href="@Url.Action("Details", "Game", new { Id=item.GameId})">@Html.DisplayFor(modelItem => item.GamePlatform.Name)</a>
            </td>
            <td>
                <button onclick="return checkLogin()">@Html.ActionLink("Add To Wishlist", "AddToWishlist", "Wishlist", new { gameId = item.GameId, accountId = Session["accountId"], keyword = ViewBag.keyword }, null)</button>
            </td>
        </tr>
    }

</table>