﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    overflow-x: hidden;
    background-image: url('images/dark.png');
    max-width: 1350px;
margin: 0 auto;
height: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    color: #fff
}

.navbar-inverse .navbar-brand {
    font-size: 1.5em
}

.footer {
    bottom: 0;
    background: #181818;
    color: #fff;
    width: 100%;
    min-height: 5%;
    display: flex;
    position: fixed;
    font-weight: bold;
    font-family: 'Facebook Letter Faces';
    font-size: 20px;
    right: 0;
    left: 0;
    padding: 10px 0 0 10px;
    justify-content: center;
}

.efooter {
    background-color: #d92b2b;
    font-weight: bold;
}

.navbar-inverse {
    background-color: #000;
    border-color: #eeeeee;
}

.navbar-theme {
    background: #404040;
    font-weight: bold;
}
.navbar-etheme {
    background: #f06c62;
    color: beige;
    font-weight: bold;
}
.navbar-brand {
    float: left;
    padding: 15px 15px;
    font-size: 40px;
    line-height: 20px;
    font-family: 'Facebook Letter Faces'
}

navbar-inverse .navbar-text {
    color: #fff;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
    font-family: 'Facebook Letter Faces';
    font-size: 20px;
    background-color: transparent;
    overflow: hidden;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    background-position: 0 100%;
    color: #FFCCFF;
}

input[type=text], textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}

input[type=text]:focus, textarea:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(81, 203, 238, 1);
}

.warning-msg {
    margin: 10px 0;
    padding: 10px;
    border-radius: 3px 3px 3px 3px;
    color: #9F6000;
    background-color: #FEEFB3;
    display: inline-block;
}

#btnShare {
    background-color: #166fe5;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.custom_nav_dropdown {
    float: left;
    overflow: hidden;
}

.custom_nav_dropdown .custom_nav_dropbtn{
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.custom_nav_dropdown:hover .custom_nav_dropbtn:hover {
    background-color: darkgray;
    color: white;
}

.custom_nav_dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.custom_nav_dropdown-content > span > a{
    float: none;
    color: black;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
    text-align: left;
    margin-left: 3px;
}

.custom_nav_dropdown-content > span > a:hover {
    background-color: #ddd;
}

.custom_nav_dropdown:hover .custom_nav_dropdown-content {
    display: block;
}

table:not(.ui-datepicker-calendar) {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.1em;
    font-family: sans-serif;
    min-width: 500px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table:not(.ui-datepicker-calendar) tbody tr:hover {
    color: #009879;
    background-color: lightgray;
}

table:not(.ui-datepicker-calendar) tbody > tr:first-child {
    background-color: #333333;
    color: white;
    font-weight: bold;
}