﻿<link href="~/Content/Site.css" rel="stylesheet" />
<style>
    img {
        width: 25px;
        height: 20px;
        clip-path: circle();
        object-fit: contain;
    }
</style>
@if (User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        
        <input type="hidden" value="@Session["accountId"]" id="accountId" name="accountId" />
        <div class="custom_nav_dropdown">
            <button class="custom_nav_dropbtn" style="color:white;display:inline;">
                <img src="~/Content/images/profile-icon.png" />
                <a href="#">@User.Identity.Name</a>
                <i class="fa fa-caret-down"></i>
            </button>

            <div class="custom_nav_dropdown-content">
                <span>@Html.ActionLink("Profile Details", "Details", "Person")</span>
                @*<span>@Html.ActionLink("Friends", "Index", "Friend")</span>*@
                <span>@Html.ActionLink("Wishlist", "Index", "Wishlist")</span>
                <span>@Html.ActionLink("Friends and Family list", "Index", "Friend")</span>
                <span>@Html.ActionLink("Preferences", "EditPreferences", "Profile")</span>
                <span>@Html.ActionLink("Order List", "ViewOrder", "Order")</span>
                <span>@Html.ActionLink("Payment Information", "Index", "CreditCard")</span>
                <span>@Html.ActionLink("Change Password", "ChangePassword", "Profile")</span>
            </div>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Cart(" + @TempData["lineItemCount"] + ")", "ViewCart", "Cart", routeValues: null, htmlAttributes: new { title = "Cart" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log out</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        <li>@Html.ActionLink("Signup", "Signup", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("For Employee", "Index", "Management/Account")</li>
    </ul>
}



