﻿@*@using Microsoft.AspNet.Identity*@
<link href="~/Content/Site.css" rel="stylesheet" />
<style>
    img {
        width: 25px;
        height: 20px;
        clip-path: circle();
        object-fit: contain;
    }
</style>
@if (User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <div class="custom_nav_dropdown">
            <button class="custom_nav_dropbtn" style="color:white;">
                <img src="~/Content/images/profile-icon.png" />
                <a href="#">@User.Identity.Name</a>
                <i class="fa fa-caret-down"></i>
            </button>

            <div class="custom_nav_dropdown-content">
                <span>@Html.ActionLink("View Order List", "Index", "Orders")</span>
            </div>
        </div>
        <ul class="nav navbar-nav navbar-right">
            @*<li>
                    @Html.ActionLink("Hello " + User.Identity.Name + "!", "Index", "Profile", routeValues: null, htmlAttributes: new { title = "Manage" })
                </li>*@
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log out</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Login", "Index", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}



