﻿@model IEnumerable<ConestogaVirtualGameStore.Framework.Entities.LineItem>

@{
    ViewBag.Title = "Order Details";
}
@if (TempData["orderMessage"] != null)
{
    <script>alert('@TempData["orderMessage"]');</script>
}
<h2>Order Details</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Game.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Option)
        </th>
        <th>
            Total
        </th>
        <th>Download</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Game.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Option)
            </td>
            <td>
                $@{
                    var subTotal = item.Price * item.Quantity;
                    @subTotal
                }
            </td>
            <td>
                @if (item.Option == "Digital")
                {
                    <button onclick="location.href='@Url.Action("DownloadGame", "Order",new { gameName = item.Game.Name })'">Download</button>
                }

            </td>
        </tr>
    }
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <th>
            $@ViewBag.Order.OrderTotal
        </th>
        <td></td>
    </tr>
</table>

<br />
<h2>Billing Address</h2>

<table class="table">
    <tr>
        <th>
            Street Name
        </th>
        <th>
            City
        </th>
        <th>
            Province
        </th>
        <th>
            Country
        </th>
        <th>
            Postal Code
        </th>
    </tr>
    <tr>
        <td>
            @ViewBag.Address.Street
        </td>
        <td>
            @ViewBag.Address.City
        </td>
        <td>
            @ViewBag.Address.Province
        </td>
        <td>
            @ViewBag.Address.Country
        </td>
        <td>
            @ViewBag.Address.PostalCode
        </td>
    </tr>
</table>

<br />
<h2>Credit Card</h2>

<table class="table">
    <tr>
        <th>
            Number
        </th>
        <th>
            Expiry Date
        </th>
        <th>
            Card Holder
        </th>
    </tr>
    <tr>
        <td>
            @ViewBag.CreditCard.CardNumber
        </td>
        <td>
            @ViewBag.CreditCard.ExpiryDate
        </td>
        <td>
            @ViewBag.CreditCard.Cardholder
        </td>
    </tr>
</table>

<br />
<h2>Order Status</h2>
@{
    if (ViewBag.Order.OrderStatus.ToString() == "Processed")
    {

        <table class="table">
            <tr>
                <th>
                    Order Status
                </th>
                <th>
                    Date
                </th>
            </tr>
            <tr>
                <td>
                    @ViewBag.Order.OrderStatus
                </td>
                <td>
                    @ViewBag.Order.ProcessedDate
                </td>
            </tr>
        </table>

    }
    else
    {
        <h4>
            @ViewBag.Order.OrderStatus
        </h4>
    }
}

<br />
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.GameId }) |*@
    @Html.ActionLink("Back to List", "ViewOrder")
</p>
