﻿@model IEnumerable<ConestogaVirtualGameStore.Framework.Entities.Order>

@{
    ViewBag.Title = "ViewOrder";
}
@if (TempData["orderMessage"] != null)
{
    <script>alert('@TempData["orderMessage"]');</script>
}
<h2>Order List</h2>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProcessedDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="@Url.Action("Details", "Order", new { orderId = item.OrderId, accountId=Session["accountId"] })">@Html.DisplayFor(modelItem => item.OrderDate)</a>
            </td>
            <td>
                <a href="@Url.Action("Details", "Order", new { orderId = item.OrderId, accountId=Session["accountId"] })">$@Html.DisplayFor(modelItem => item.OrderTotal)</a>
            </td>
            <td>
                <a href="@Url.Action("Details", "Order", new { orderId = item.OrderId, accountId=Session["accountId"] })">@Html.DisplayFor(modelItem => item.OrderStatus)</a>
            </td>
            <td>
                <a href="@Url.Action("Details", "Order", new { orderId = item.OrderId, accountId=Session["accountId"] })">@Html.DisplayFor(modelItem => item.ProcessedDate)</a>
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.OrderId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.OrderId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.OrderId })*@
            </td>
        </tr>
    }

</table>
