﻿@model ConestogaVirtualGameStore.Framework.Entities.CreditCard

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    <input type="hidden" value="@Session["accountId"]" id="accountId" name="accountId" />

    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Register Credit Card</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Cardholder, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cardholder, new { htmlAttributes = new { @class = "form-control", @style = "text-transform:uppercase", @placeholder = "Cardholder Name" } })
                @Html.ValidationMessageFor(model => model.Cardholder, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CardNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CardNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CardNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CVV, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CVV, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter 3 Digits" } })
                @Html.ValidationMessageFor(model => model.CVV, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ExpiryDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ExpiryDate, new { htmlAttributes = new { @class = "form-control datepicker", @placeholder = "mm/yyyy" } })
                @Html.ValidationMessageFor(model => model.ExpiryDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
                <input type="button" value="Reset" id="reset" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
<script type="text/javascript">

    $(function () {

        $(".datepicker").datepicker({
            dateFormat: "mm/yyyy",
            changeMonth: true,
            changeYear: true,
            maxDate: "+0M +0D"
        });

        $("#reset").click(function () {
            $(this).closest('form').find("input[type=text], textarea").val("");
        });
    });
</script>