﻿@model IEnumerable<ConestogaVirtualGameStore.Framework.Entities.CreditCard>

@{
    ViewBag.Title = "Index";
}

<h2>Payment Information</h2>

<p>
    @Html.ActionLink("Add a Credit Card", "Create")
</p>

@if (Model.Count() > 0)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Account.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cardholder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CardNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CVV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpiryDate)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Account.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cardholder)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CardNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CVV)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpiryDate)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CreditCardId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CreditCardId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CreditCardId })
                </td>
            </tr>
        }

    </table>

}
else
{
    <div style="color: red; font-size: 15px;">No records found</div>
}
