﻿
@using ReportViewerForMvc;
@{
    ViewBag.Title = "Event List Report";
}
<br />
<br />
<h2>Event List Report</h2>
@Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer)
