﻿@model IEnumerable<ConestogaVirtualGameStore.Framework.Entities.Event>

@{
    ViewBag.Title = "Event List";
}

<h2>Event List</h2>

<p>
    @Html.ActionLink("Create New Event", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="@Url.Action("Details", "Event", new { Id=item.EventId})">@Html.DisplayFor(modelItem => item.Title)</a>
            </td>
            <td>
                <a href="@Url.Action("Details", "Event", new { Id=item.EventId})">@Html.DisplayFor(modelItem => item.Description)</a>
            </td>
            <td>
                <a href="@Url.Action("Details", "Event", new { Id=item.EventId})">@Html.DisplayFor(modelItem => item.StartDate)</a>
            </td>
            <td>
                <a href="@Url.Action("Details", "Event", new { Id=item.EventId})">@Html.DisplayFor(modelItem => item.EndDate)</a>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.EventId }) |
                @Html.ActionLink("Details", "Details", new { id = item.EventId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.EventId })
            </td>
        </tr>
    }

</table>
