﻿@using ReportViewerForMvc;
@{
    ViewBag.Title = "Member List Report";
}
<br />
<br />
<h2>Member List Report</h2>
@Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer)
