﻿@model ConestogaVirtualGameStore.Framework.Entities.Account

@{
    ViewBag.Title = "Employee Login";
}

@if (TempData["message"] != null)
{
    <script>alert('@TempData["message"]');</script>
}
<h2>Employee Login</h2>
@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    <hr />

    <div class="form-group">
        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })<br />
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })<br />
            @if (TempData["attempts"] != null)
            {
                @Html.ActionLink("Reset Password", "Index", "Account")
            }
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Login" class="btn btn-default" />
        </div>
    </div>


    </div>
}




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
