﻿
@model ConestogaVirtualGameStore.Framework.Entities.Account

@{
    ViewBag.Title = "Activate Account";
}
@if (TempData["message"] != null)
{
    <script>alert('@TempData["message"]');</script>
}
<h2>Activate Account</h2>
