﻿@model ConestogaVirtualGameStore.Framework.Entities.Account

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Profile</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceivePromotionalEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceivePromotionalEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AccountId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
