﻿@model ConestogaVirtualGameStore.Web.Models.ChangePasswordViewModel

@{
    ViewBag.Title = "ChangePassword";
}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
<script type="text/javascript">

    function validate() {
        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("confirmPassword").value;
        if (password != confirmPassword) {
            alert("Passwords do not match.");
            return false;
        }
        return true;
    }
</script>
@if (TempData["passwordChange"] != null)
{
    <script>alert('@TempData["passwordChange"]');</script>
}
<h2>Change Password</h2>

@using (Html.BeginForm("ChangePassword", "Profile", FormMethod.Post, new { onsubmit = "return validate()" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    <hr />
    <div class="form-group">
        @Html.LabelFor(model => model.OldPassword, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.OldPassword, new { @id = "oldPassword", htmlAttributes = new { @class = "control-label col-md-2" } })<br />
            @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.PasswordFor(model => model.NewPassword, new { @id = "password", htmlAttributes = new { @class = "control-label col-md-2" } })<br />
            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.PasswordFor(model => model.ConfirmPassword, new { @id = "confirmPassword", htmlAttributes = new { @class = "control-label col-md-2" } })<br />
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Change Password" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Return", "Index")
</div>
