﻿@model ConestogaVirtualGameStore.Framework.Entities.Account

@{
    ViewBag.Title = "Profile of " + Session["UserName"];
}
@if (TempData["passwordChange"] != null)
{
    <script>alert('@TempData["passwordChange"]');</script>
}

@if (Session["UserName"] != null)
{
    <h2>Welcome @Session["UserName"].ToString()</h2>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    if (TempData["AccountState"] != null)
    {
        if ((int)TempData["AccountState"] == 0)
        {
            <div class="warning-msg">
                <i class="fa fa-warning"></i>
                This account has not been activated. Please check your email.
            </div>
        }
    }
    <div>@Html.ActionLink("Profile Details", "Details", "Person")</div>
    <div>@Html.ActionLink("Friend's list", "Index", "Friend")</div>
    <div>@Html.ActionLink("Wishlist", "Index", "Wishlist")</div>
    <div>@Html.ActionLink("Preferences", "EditPreferences")</div>
    <div>@Html.ActionLink("Order List", "ViewOrder", "Order")</div>
    <div>@Html.ActionLink("Payment Information", "Index", "CreditCard")</div>
    @Html.HiddenFor(model => model.AccountId)
}

