﻿@model IEnumerable<ConestogaVirtualGameStore.Framework.Entities.LineItem>

@{
    ViewBag.Title = "Order Details";
}

<h2>Order Details</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Game.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Option)
        </th>
        <th>
            Total
        </th>
        <th></th>
        </th>

        @foreach (var item in Model)
        {
<tr>
        <td>
            @Html.DisplayFor(modelItem => item.Game.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Option)
        </td>
        <td>
            $
            @{
                var subTotal = item.Price * item.Quantity;
                @subTotal
            }
        </td>
        <td>
        </td>
    </tr>
                    }
<tr>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <th>
        $@ViewBag.Order.OrderTotal
    </th>
    <td>
    </td>
</tr>
    </table>

    <br />
    <h2>Billing Address</h2>

    <table class="table">
        <tr>
            <th>
                Street Name
            </th>
            <th>
                City
            </th>
            <th>
                Province
            </th>
            <th>
                Country
            </th>
            <th>
                Postal Code
            </th>
        </tr>
        <tr>
            <td>
                @ViewBag.Address.Street
            </td>
            <td>
                @ViewBag.Address.City
            </td>
            <td>
                @ViewBag.Address.Province
            </td>
            <td>
                @ViewBag.Address.Country
            </td>
            <td>
                @ViewBag.Address.PostalCode
            </td>
        </tr>
    </table>

    <br />
    <p>
        
        @if (TempData["OrderStatus"].ToString() != "Processed")
        {
            @Html.ActionLink("Update Order Status | ", "Edit", new { id = ViewBag.OrderId });
        }
        @Html.ActionLink("Back to List", "Index")
    </p>


