﻿@model IEnumerable<ConestogaVirtualGameStore.Framework.Entities.Order>

@{
    ViewBag.Title = "Index";
}

<h2>All Orders</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProcessedDate)
        </th>
        @*<th></th>*@
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="@Url.Action("Details", "Orders", new { orderId = item.OrderId })">@Html.DisplayFor(modelItem => item.OrderDate)</a>
</td>
            <td>
                <a href="@Url.Action("Details", "Orders", new { orderId = item.OrderId })"> $@Html.DisplayFor(modelItem => item.OrderTotal)</a>
            </td>
            <td>
                <a href="@Url.Action("Details", "Orders", new { orderId = item.OrderId })">@Html.DisplayFor(modelItem => item.OrderStatus)</a>
</td>
            <td>
                <a href="@Url.Action("Details", "Orders", new { orderId = item.OrderId })">@Html.DisplayFor(modelItem => item.ProcessedDate)</a>
</td>
            @*<td>
                <a href="@Url.Action("Details", "Orders", new { orderId = item.OrderId })">Details</a>
            </td>*@
        </tr>
    }

</table>
