﻿@model ConestogaVirtualGameStore.Framework.Entities.EventRegister

@{
    ViewBag.Title = "Event Details";
}

<h2>Event Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Event.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Event.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event.Description)
        </dd>

        <dt>
            Date of Registration
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateRegistered)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to Registered Events", "Index")
</p>
