﻿@model IEnumerable<ConestogaVirtualGameStore.Framework.Entities.EventRegister>

@{
    ViewBag.Title = "Registered Events";
}

<h2>Registered Events</h2>

@if (Model.Count() == 0)
{
    <div style="color:red;font-weight:bold;font-size:large;">You have not registered for any events currently.</div>
}
else
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Event.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateRegistered)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Event.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateRegistered)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.EventRegisterId }) |
                    @Html.ActionLink("Unregister", "Delete", new { id = item.EventRegisterId })
                </td>
            </tr>
        }

    </table>
}
<br />
<div>
    @Html.ActionLink("Back to Events List", "Index", "Event")
</div>
