﻿@model ConestogaVirtualGameStore.Framework.Entities.Event

@{
    ViewBag.Title = "Event Details";
}

<h2>Event Details of @TempData["eventName"]</h2>
@if (TempData["msg"] != null)
{
    <script>alert('@TempData["msg"]');</script>
}
<div>
    <hr />
    <input type="hidden" value="@Session["accountId"]" id="accountId" name="accountId" />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

    </dl>
</div>
<div>
    @using (Html.BeginForm("Create", "EventRegister", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <input type="submit" class="btn btn-default" value="Register for Event" />
    }
    <br />
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>