﻿@model IEnumerable<ConestogaVirtualGameStore.Framework.Entities.Event>

@{
    ViewBag.Title = "List of Events";
}

<h2>List of Events</h2>
@if (Model.Count() == 0)
{
    <div style="color:red;font-weight:bold;font-size:large;">There are currently no events available for registration.</div>
}
else
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { Id = item.EventId })
                </td>
            </tr>
        }

    </table>
}
<br />
@if(Convert.ToInt32(Session["accountId"]) != 0){
    <input type="submit" value="View Registered Events" onclick="location.href='@Url.Action("Index", "EventRegister")'"/>
}