﻿@model ConestogaVirtualGameStore.Framework.Entities.Game

@{
    var reviewList = ViewData["reviews"] as List<ConestogaVirtualGameStore.Framework.Entities.Review>;

    ViewBag.Title = "Details";
}

<h2>Game Details of @TempData["gameName"]</h2>
<style type="text/css">
    span.fa.fa-star.checked {
        color: orange;
    }
</style>
<div>
    @*<h4>Game</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Supplier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Supplier)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GameCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameCategory.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GamePlatform)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GamePlatform.Name)
        </dd>
    </dl>
</div>
<br />
<h2>Reviews (@reviewList.Count)</h2>
<table class="table">
    @if (reviewList.Count == 0)
    {
        <h4>No reviews</h4>
    }
    else
    {
        <tr>

            <th>
                @Html.Label("Ratings")
            </th>
            <th>
                @Html.Label("Comments")
            </th>
            <th></th>
        </tr>

        foreach (var item in reviewList)
        {
            <tr>
                <td>
                    @for (int i = 0; i < item.Ratings; i++)
                    {
                        <span class="fa fa-star checked"></span>
                    }
                    @for (int i = item.Ratings; i < 5; i++)
                    {
                        <span class="fa fa-star"></span>
                    } @Html.DisplayFor(modelItem => item.Ratings) stars
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Details)
                </td>
                @if (User.Identity.IsAuthenticated)
                {
                    <td style="display:flex;">
                        @if (!item.Approved)
                        {
                            using (Html.BeginForm("Approve", "Game", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()

                                <input type="hidden" id="reviewId" name="reviewId" value=@item.ReviewId />
                                <input type="hidden" id="gameId" name="gameId" value=@item.GameId />
                                <input type="submit" value="Approve" class="btn btn-default" />
                                @*<a href="javascript:document.getElementById('approveReviewForm').submit()">Approve</a>*@
                                @*@Html.ActionLink("Approve", "Approve", "Game", new { reviewId = item.ReviewId, gameId = item.GameId });*@
                            }
                        }
                        else
                        {
                            @Html.Label("Approved")
                        }
                        &nbsp;&nbsp;
                        @using (Html.BeginForm("DeleteReview", "Game", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()

                            <input type="hidden" id="reviewId" name="reviewId" value=@item.ReviewId />
                            <input type="hidden" id="gameId" name="gameId" value=@item.GameId />
                            @*<a href="javascript:document.getElementById('deleteReviewForm').submit()">Delete</a>*@
                            <input type="submit" value="Delete" class="btn btn-default" />
                            @*@Html.ActionLink("Delete", "DeleteReview", "Game", new { id = item.ReviewId })*@
                        }
                    </td>
                }
            </tr>
        }
    }
</table>
<h2>Overall Ratings</h2>
@if (TempData["averageRating"] == null)
{
    <p>No Ratings</p>
}
else if (TempData["averageRating"].ToString() == "0")
{
    <div style="font-size:20px;">
        <span class="fa fa-star"></span>
        <p style="display:inline;">0 stars</p>
    </div>
}
else
{
    <div style="font-size: 20px;">
        <span class="fa fa-star checked"></span>
        <p style="display:inline;">@TempData["averageRating"] stars</p>
    </div>
}
<br />
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GameId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
