﻿
@using ReportViewerForMvc;
@{
    ViewBag.Title = "Game List Report";
}
<br />
<br />
<h2>Game List Report</h2>
@Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer)
