﻿@model IEnumerable<ConestogaVirtualGameStore.Framework.Entities.Game>

@{
    ViewBag.Title = "Game List";
}

<h2>Game List</h2>

<p>
    @Html.ActionLink("Create New Game", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Supplier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GamePlatform)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        <a href="@Url.Action("Details", "Game", new { Id=item.GameId})">@Html.DisplayFor(modelItem => item.Name)</a>
    </td>
    <td>
        <a href="@Url.Action("Details", "Game", new { Id=item.GameId})">@Html.DisplayFor(modelItem => item.Description)</a>
    </td>
    <td>
        <a href="@Url.Action("Details", "Game", new { Id=item.GameId})">@Html.DisplayFor(modelItem => item.Price)</a>
    </td>
    <td>
        <a href="@Url.Action("Details", "Game", new { Id=item.GameId})">@Html.DisplayFor(modelItem => item.ReleaseDate)</a>
    </td>
    <td>
        <a href="@Url.Action("Details", "Game", new { Id=item.GameId})">@Html.DisplayFor(modelItem => item.Supplier)</a>
    </td>
    <td>
        <a href="@Url.Action("Details", "Game", new { Id=item.GameId})">@Html.DisplayFor(modelItem => item.GameCategory.CategoryName)</a>
    </td>
    <td>
        <a href="@Url.Action("Details", "Game", new { Id=item.GameId})">@Html.DisplayFor(modelItem => item.GamePlatform.Name)</a>
    </td>
    <td>
        <a href="@Url.Action("Details", "Game", new { Id=item.GameId})">@Html.DisplayFor(modelItem => item.Quantity)</a>
    </td>
    <td>
    @Html.ActionLink("Edit", "Edit", new { id = item.GameId }) |
    @Html.ActionLink("Details", "Details", new { id = item.GameId }) |
    @Html.ActionLink("Delete", "Delete", new { id = item.GameId })
    </td>
</tr>
}

</table>
