﻿@model IEnumerable<ConestogaVirtualGameStore.Framework.Entities.WishlistItem>
@if (TempData["wishlistMessage"] != null)
{
    <script>alert('@TempData["wishlistMessage"]');</script>
}
<link href="~/Content/Site.css" rel="stylesheet" />
<h2>Wishlist</h2>
@if (TempData["wishlistCount"] == "0")
{
    <h4 style="color:red;font-size:15px;">Wishlist is empty</h4>
}
else
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Game)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game.Price)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Game.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Game.Price)
                </td>
                <td>
                    @using (Html.BeginForm("Delete", "Wishlist", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <input type="hidden" id="wishlistItemId" name="wishlistItemId" value=@item.WishlistItemId />
                        <input type="hidden" id="accountId" name="accountId" value=@Session["accountId"] />
                        <input type="submit" value="Delete" class="btn btn-default" />
                        @*<a href="javascript:document.getElementById('approveReviewForm').submit()">Approve</a>*@
                        @*@Html.ActionLink("Approve", "Approve", "Game", new { reviewId = item.ReviewId, gameId = item.GameId });*@
                    }
                    @*@Html.ActionLink("Delete", "Delete", new { id = item.WishlistItemId, accountId = Session["accountId"] })*@
                </td>
            </tr>
        }
        <tr>
            <td><input type="button" id="btnShare" value="Share to Facebook" class="btn btn-default" onclick=" window.open('https://www.facebook.com/login.php/','_blank')" /></td>
            <td></td>
            <td></td>
        </tr>
    </table>
}

