﻿@model IEnumerable<ConestogaVirtualGameStore.Framework.Entities.LineItem>


@{
    ViewBag.Title = "Checkout Details";
}
<script type="text/javascript">
    function checkInfo() {
        var addressId = $("input[type='radio'][name='addressId']:checked").val();
        //document.querySelector('input[name="addressId"]:checked').value;
        //alert("addressId: " + addressId);
        //var creditCardId = document.querySelector('input[name="creditCardId"]:checked').value;
        var creditCardId = $("input[type='radio'][name='creditCardId']:checked").val();
        //alert("creditCardId: " + creditCardId);

        if (addressId == undefined) {
            alert("Please select a valid address info");
            return false;
        }
        else if (creditCardId == undefined) {
            alert("Please select a valid credit card info");
            return false;
        }
        return true;
    }
</script>
<h2>Checkout Information</h2>

@using (Html.BeginForm("Proceed", "Cart", FormMethod.Post, new { onsubmit = "return checkInfo()" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" value="@Session["accountId"]" id="accountId" name="accountId" />
    <input type="hidden" value="@TempData["total"]" id="orderTotal" name="orderTotal" />
    <input type="hidden" value="@TempData["cartId"]" id="cartId" name="cartId" />

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Game.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Option)
            </th>
            <th>
                Total
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Game.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Option)
        </td>
        <td>
            $
            @{
                var subTotal = item.Price * item.Quantity;
                @subTotal
            }
        </td>
        <td>
        </td>
    </tr>
        }
    <tr>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <th>
            $@TempData["total"]
        </th>
        <td>
        </td>
    </tr>
    </table>

    <br />
    <h2>Billing Address</h2>

    {
        if (ViewBag.LastUsedAddressId == null && ViewBag.AddressList.Count == 0)
        {
            <div style="color: red;">
                <h4>No address registered</h4>
                <h5>Click @Html.ActionLink("here", "Details", "Person") to complete address details</h5></div>
    }
    else
    {
    <table class="table">
        <tr>
            <th>
            </th>
            <th>
                Street
            </th>
            <th>
                City
            </th>
            <th>
                Province
            </th>
            <th>
                Country
            </th>
            <th>
                Postal Code
            </th>
            <th>
                AddressType
            </th>
        </tr>
        @foreach (var address in ViewBag.AddressList)
        {
            <tr>
                @if (ViewBag.LastUsedAddressId != null && ViewBag.LastUsedAddressId == address.AddressId)
                {
                    <td bgcolor="lightblue">
                        <input id="addressId" name="addressId" type="radio" value="@address.AddressId" checked />
                    </td>
                    <td bgcolor="lightblue">
                        @address.Street
                    </td>
                    <td bgcolor="lightblue">
                        @address.City
                    </td>
                    <td bgcolor="lightblue">
                        @address.Province
                    </td>
                    <td bgcolor="lightblue">
                        @address.Country
                    </td>
                    <td bgcolor="lightblue">
                        @address.PostalCode
                    </td>
                    <td bgcolor="lightblue">
                        @address.AddressType
                    </td>
                }
                else if (ViewBag.validAddressDic[address.AddressId])
                {
                    <td>
                        <input id="addressId" name="addressId" type="radio" value="@address.AddressId" />
                    </td>
                    <td>
                        @address.Street
                    </td>
                    <td>
                        @address.City
                    </td>
                    <td>
                        @address.Province
                    </td>
                    <td>
                        @address.Country
                    </td>
                    <td>
                        @address.PostalCode
                    </td>
                    <td>
                        @address.AddressType
                    </td>
                }
                else
                {
                    <td>
                    </td>
                    <td>
                        @address.Street
                    </td>
                    <td>
                        @address.City
                    </td>
                    <td>
                        @address.Province
                    </td>
                    <td>
                        @address.Country
                    </td>
                    <td>
                        @address.PostalCode
                    </td>
                    <td>
                        @address.AddressType
                    </td>
                }

            </tr>
        }
    </table>
        if(!@ViewBag.allNotNull)
        {
        <div style="color: red;">
            <h4>Some Registered Addresses are not valid</h4>
            <h5>Click  @Html.ActionLink("here", "Details", "Person") to register a valid Address</h5>
        </div>
        }
    }
}


    <br />
    <h2>Credit Card</h2>

    if (ViewBag.LastUsedCreditCardId == null && ViewBag.CreditCardList.Count == 0)
    {
    <div style="color: red;">
        <h4>No Credit Card registered</h4>
        <h5>Click @Html.ActionLink("here", "Index", "CreditCard") to register a new Credit Card</h5>
    </div>
    }
    else
    {
    <table class="table">
        <tr>
            <th>
            </th>
            <th>
                Card Holder
            </th>
            <th>
                Card Number
            </th>
            <th>
                Expiry Date
            </th>
        </tr>
        @foreach (var card in ViewBag.CreditCardList)
        {
            <tr>

                @if (ViewBag.LastUsedCreditCardId != null && ViewBag.LastUsedCreditCardId == card.CreditCardId)
                {
                    <td bgcolor="lightblue">
                        <input id="creditCardId" name="creditCardId" type="radio" value="@card.CreditCardId" checked />
                    </td>
                    <td bgcolor="lightblue">
                        @card.Cardholder
                    </td>
                    <td bgcolor="lightblue">
                        @card.CardNumber
                    </td>
                    <td bgcolor="lightblue">
                        @card.ExpiryDate
                    </td>
                }
                else
                {
                    <td>
                        <input id="creditCardId" name="creditCardId" type="radio" value="@card.CreditCardId" />
                    </td>
                    <td>
                        @card.Cardholder
                    </td>
                    <td>
                        @card.CardNumber
                    </td>
                    <td>
                        @card.ExpiryDate
                    </td>
                }
            </tr>
        }
    </table>
    }

    <br />
    <span>
        <input type="submit" value="Proceed" class="btn btn-default" />
    </span>
    }
