﻿@model ConestogaVirtualGameStore.Framework.Entities.Game

@{
    ViewBag.Title = "Details";
    var selectedQuantity = @TempData["selectedQuantity"];
}
<script type="text/javascript">
    function checkAmount() {
        var stringEnteredQuantity = document.getElementById('quantity').value;
        var enteredQuantity = parseInt(stringEnteredQuantity);
        var dbQuantity = @Model.Quantity;
        var availableQuantity = dbQuantity - @selectedQuantity;

        if (enteredQuantity > dbQuantity) {
            alert("You already selected " + @selectedQuantity + ". Available stock is " + availableQuantity + " more.");
            return false;
        }
        return true;
    }
</script>


<h2>Details of Game @TempData["gameName"]</h2>

@using (Html.BeginForm("Edit", "Cart", FormMethod.Post, new { onsubmit = "return checkAmount()" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.GameId)
    <input type="hidden" id="lineItemId" name="lineItemId" value="@TempData["lineItemId"]" />

    <table class="table" style="width:50%">
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <td>
                @Html.DisplayFor(model => model.Description)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <td>
                @Html.DisplayFor(model => model.Price)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <td>
                @Html.DisplayFor(model => model.ReleaseDate)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Supplier)
            </th>
            <td>
                @Html.DisplayFor(model => model.Supplier)
            </td>
        </tr>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GameCategory.CategoryName)
            </th>
            <td>
                @Html.DisplayFor(model => model.GameCategory.CategoryName)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GamePlatform)
            </th>
            <td>
                @Html.DisplayFor(model => model.GamePlatform.Name)
            </td>
        </tr>
        <th>
            @Html.Label("Option")
        </th>
        <td>
            <div class="col-md-10">
                @{
                    string option = TempData["option"].ToString();
                    if (option == "Physical")
                    {
                        <input type="radio" name="option" id="option" value="Physical" checked /> @option <span> &nbsp; &nbsp;</span>
                        <input type="radio" name="option" id="option" value="Digital" disabled="disabled" /> @Html.Name("Digital")
                    }
                    else
                    {
                        <input type="radio" name="option" id="option" value="Physical" disabled="disabled" /> @Html.Name("Physical")<span> &nbsp; &nbsp;</span>
                        <input type="radio" name="option" id="option" value="Digital" checked /> @option 
                    }
                }

            </div>
        </td>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <td>
                @if (option == "Physical")
                {
                    <input type="number" id="quantity" name="quantity" min="1" max="10" value=@selectedQuantity />
                    <input type="submit" value="Update" class="btn btn-default" />
                }
                else
                {
                    <input type="number" id="quantity" name="quantity" min="1" max="10" value=@selectedQuantity disabled="disabled" />
                    <input type="submit" value="Update" class="btn btn-default" disabled="disabled" />
                }
            </td>
        </tr>

    </table>

}

<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.GameId }) |*@
    @Html.ActionLink("Back to List", "ViewCart")
</p>
