﻿@model IEnumerable<ConestogaVirtualGameStore.Framework.Entities.LineItem>

@{
    ViewBag.Title = "ViewCart";

    //Model = ViewData["lineItemList"];
    var gameListCount = Convert.ToInt32(TempData["lineItemCount"]);

    var changedItemList = ViewData["changedItemList"] as List<ConestogaVirtualGameStore.Framework.Entities.Game>;
    var changedItemListCount = 0;
    //var gameListCount = 0;
    if (changedItemList != null)
    {
        changedItemListCount = changedItemList.Count;
    }
    //else
    //{
    //}
}
<script type="text/javascript">
    function checkItemCount() {

        if (@TempData["lineItemCount"] == 0) {
            alert("Nothing to checkout");
            return false;
        }
        else if (@changedItemListCount != 0) {
            alert("Please update the Quantity");
            return false;
        }
        return true;
    }
</script>
<h2>Cart List</h2>


@using (Html.BeginForm("Checkout", "Cart", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <input type="hidden" value="@Session["accountId"]" id="accountId" name="accountId" />
    <input type="hidden" value="@TempData["total"]" id="orderTotal" name="orderTotal" />
    <input type="hidden" value="@TempData["cartId"]" id="cartId" name="cartId" />

    if (@gameListCount == 0)
        {
            <h4>Cart is empty</h4>
        }
        else
    {
        <table class="table">
            <tr>
                @*<th>
                        @Html.DisplayNameFor(model => model.Cart.CartId)
                    </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.Game.Name)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.Order.OrderId)
                    </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Option)
                </th>
                <th>
                    Total
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.Cart.CartId)
                        </td>*@
                    <td>
                        <a href="@Url.Action("Details", "Cart", new { Id = item.LineItemId, accountId=Session["accountId"]})">@Html.DisplayFor(modelItem => item.Game.Name)</a>

                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.Order.OrderId)
                        </td>*@
                    <td>
                        <a href="@Url.Action("Details", "Cart", new { Id = item.LineItemId, accountId=Session["accountId"] })">@Html.DisplayFor(modelItem => item.Quantity)</a>
                    </td>
                    <td>
                        <a href="@Url.Action("Details", "Cart", new { Id = item.LineItemId, accountId=Session["accountId"] })">$@Html.DisplayFor(modelItem => item.Price)</a>
                    </td>
                    <td>
                        <a href="@Url.Action("Details", "Cart", new { Id = item.LineItemId, accountId=Session["accountId"] })">@Html.DisplayFor(modelItem => item.Option)</a>
                    </td>
                    <td>
                        $
                        @{
                            var subTotal = item.Price * item.Quantity;
                            @subTotal
                        }
                        @*<a href="@Url.Action("Details", "Game", new { Id = item.GameId })">@Html.Display(total)</a>*@
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.LineItemId, accountId = Session["accountId"] })
                        |
                        <input type="submit" value="Delete" onclick="this.form.action='/Cart/Delete/@item.LineItemId';" />
                    </td>
                </tr>
            }
            <tr>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <th>
                    $@TempData["total"]
                </th>
                <td>
                </td>

            </tr>
        </table>

        if (changedItemListCount != 0)
        {<div style="color: red;">
                <H3>Available Quantity changed below</H3>
                <ul>
                    @foreach (var game in changedItemList)
                    {
                        <li>
                            @game.Name: @game.Quantity
                        </li>
                    }
                </ul>
            </div>
        }
    }


    @*<span>
            <input type="submit" value="Checkout" class="btn btn-default" />
        </span>*@
}
<br>
<span>
    @*<a href='@Url.Action("Checkout", "Cart")'><input type="button" value="Checkout" class="btn btn-default" /></a>*@
    <button onclick="return checkItemCount()">@Html.ActionLink("Checkout", "Checkout", new { cartId = @TempData["cartId"], accountId = Session["accountId"] })</button>
</span>

