﻿@model ConestogaVirtualGameStore.Framework.Entities.Account

@{
    ViewBag.Title = "Profile of " + Session["UserName"];
}


@if (Session["UserName"] != null)
{
    @*<h2>Welcome @TempData["message"]</h2>*@
    <h2>Welcome @Session["UserName"].ToString()</h2>
    <div>@Html.ActionLink("Order List", "Index", "Orders")</div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.AccountId)
}

