﻿@model ConestogaVirtualGameStore.Framework.Entities.Account

@{
    ViewBag.Title = TempData["Username"];
}

<h2>@ViewBag.Title Wishlist</h2>

<div>
    <h4>Account</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            UserName
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.FirstName) @Html.DisplayFor(model => model.Person.LastName)
        </dd>


    </dl>
</div>
<button onclick="location.href='@Url.Action("AddFriend", "Friend",new { userName = Model.UserName })'">Add Friend</button>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
