﻿@model IEnumerable<ConestogaVirtualGameStore.Framework.Entities.WishlistItem>

<h2>Wishlist</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Game.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Game.Price)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Game.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Game.Price)
    </td>
    <td></td>

</tr>
    }


</table>

<p>
    @Html.ActionLink("Return", "Index")
</p>
