﻿
@model IEnumerable<ConestogaVirtualGameStore.Framework.Entities.Account>

@{
    ViewBag.Title = "GetFriendRequests";
}
@if (TempData["errorMessage"] != null)
{
    <script>alert('@TempData["errorMessage"]');</script>
}
<h2>Friend Requests</h2>

@if (Model.Count() == 0)
    {
        <div style="color:red;font-weight:bold;font-size:large;">You have currently no friend requests</div>
    }
else
    {
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>


            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.ActionLink("Add", "AddFriend", new { userName = item.UserName }) |
                @Html.ActionLink("Remove", "RemoveRequest", new { id = item.AccountId })
            </td>
        </tr>
    }

</table>
 } 

<p>
    @Html.ActionLink("Return", "Index")
</p>

