﻿@model IEnumerable<ConestogaVirtualGameStore.Framework.Entities.Friend>

@{
    ViewBag.Title = "Friends and Family List";
}
@if (TempData["errorMessage"] != null)
{
    <script>alert('@TempData["errorMessage"]');</script>
}
<h2>Friends and Family List</h2>
@using (Html.BeginForm("SearchFriend", "Friend", FormMethod.Post))
{
    <p>
        @Html.AntiForgeryToken()
        User Name :
        <input type="text" name="userName" required value="@ViewBag.UserName" />
        <input type="submit" value="Search" />
    </p>
}

@if (Model.Count() == 0)
{
    <div style="color:red;font-weight:bold;font-size:large;">You have currently no members in your friends and family list.</div>
}
else
{
    <table class="table">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.userName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>


                <td>
                    @Html.DisplayFor(modelItem => item.userName)
                </td>
                <td>
                    @Html.ActionLink("View Wishlist", "GetFriendWishlist", new { userName = item.userName }) |
                    @Html.ActionLink("Remove", "Delete", new { id = item.FriendId })
                </td>
            </tr>
        }

    </table>      
}
<button onclick="location.href='@Url.Action("GetFriendRequests", "Friend")'">Friend Requests</button>

